%h1 Home

.span-18.border
  %h2 My Current Projects
  
  = render :collection => @projects, :partial => "admin/projects/project"
  
.span-6.last
  %h2 Report
  %ul
    %li= link_to "Current Report", reports_path

  %h2 Administration
  %ul
    %li= link_to "Administer Users", admin_users_path
    %li= link_to "Administer Clients", admin_clients_path
    %li= link_to "Administer Projects", admin_projects_path