- current_duration = project.project_durations.current.last
- last_update = current_duration.status_updates.last if current_duration
.project.boxy
  .actions
    = link_to "Edit", edit_admin_project_path(project)
    = link_to "Destroy", admin_project_path(project), :method => :delete, :confirm => "Are sure you want to destroy this project?  This action cannot be undone."
    = link_to "Edit Durations", admin_project_project_durations_path(project)
    = link_to "Update Status", edit_admin_project_status_update_path(project)
  
  %h3= project.name
  
  %p== Client: #{project.client.name}
  
  %p== Project Code: #{project.code}
  
  %p== Project Type: #{project.project_type.name}

  %p== Project Manager: #{project.project_manager.name}
  
  - if current_duration
    %p== Current Duration: #{current_duration.start.strftime("%m/%d/%Y")} - #{current_duration.end.strftime("%m/%d/%Y")}
  - else
    %p Current Duration: n/a
  - if current_duration = project.project_durations.current.last && last_update = current_duration.status_updates.last
    %p== Status Last Updated By #{last_update.user.name} on #{last_update.entry_date.strftime("%m/%d/%Y")}.
  - else
    %p No Status Updates for this Project.
    
    