#breadcrumb
  = link_to "Back", admin_projects_path

%h2 New Project

= form_for :project, :url => admin_projects_path do |f|
  = f.error_messages
  
  = f.label :name
  %br
  = f.text_field :name
  %br
      
  = f.submit