#breadcrumb
  = link_to "Back", admin_projects_path

%h2 New Project

= form_for :project, :url => admin_projects_path do |f|
  = f.error_messages
  
  = f.label :name
  %br
  = f.text_field :name
  %br
  
  = f.label :client_id, "Client"
  %br
  = f.select :client_id, @clients.map { |m| [m.name, m.id] }
  %br
  
  = f.label :project_manager_id, "Project Manager"
  %br
  = f.select :project_manager_id, @project_managers.map { |m| [m.name, m.id] }
  %br
  
  = f.label :project_type_id, "Project Type"
  %br
  = f.select :project_type_id, @project_types.map { |m| [m.name, m.id] }
  %br
      
  = f.submit