#breadcrumb
  = link_to "Back", admin_users_path

%h2 New User

= form_for :user, :url => admin_users_path do |f|
  = f.error_messages

  = f.label :login
  %br
  = f.text_field :login
  %br
  
  = f.label :name
  %br
  = f.text_field :name
  %br
  
  = f.label :email
  %br
  = f.text_field :email
  %br
  
  = f.label :initials
  %br
  = f.text_field :initials
  %br
    
  = f.submit