- row_class = cycle('even','odd')
%tr.report-details{:class => row_class }
  %td
    = project.code
  %td
    = project.name
  %td
    = project.client.name
  %td
    = project.project_manager.name
  %td
    = project.duration_for(@date).hours_allocated
  %td
    = project.duration_for(@date).hours_elapsed
%tr.report-update{:class => row_class }
  %td{:colspan => 6}
    = project.duration_for(@date).update_for(@date).description rescue "Status update unavailable."
